export(nirs4all_pipeline)
export(nirs4all_snv)
export(nirs4all_savgol)
export(nirs4all_pls)
export(nirs4all_lm)
export(nirs4all_ranger)
export(nirs4all_glmnet)
export(nirs4all_torch_mlp)
export(nirs4all_controller)
export(nirs4all_fit)
export(nirs4all_predict)
export(nirs4all_save)
export(nirs4all_load)
S3method(predict,nirs4all_fitted)
importFrom(stats,predict)
